.hidden {
  display: none;
}

.studentList {
  margin: 2em;
}
.login-centering {
  padding: 1em;
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.formSubmit{
  margin-top: 1em;
}

th:first-child, td:first-child
{
  position:sticky;
  left:0px;
  background-color: rgb(255, 255, 255);
  border-right: 1px solid #ddd;
} 
.tr{
  position:sticky;
  top:0px;
  background-color: rgb(255, 255, 255);
  border-right: 1px solid #ddd;
}