.student-table {
  background-color: white;
  margin: 2em;
  padding: 1em;
}

.student-table-header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

th:first-child, td:first-child
{
  position:sticky;
  left:0px;
  background-color: rgb(255, 255, 255);
  border-right: 1px solid #ddd;
} 
.studentList {
  margin: 1em;
}
